
#Q-1.Explain the key features of Python that make it a popular choice for programming

In [ ]:
# Ans: Key features of Python that make it a popular choice for programming are as follows:
  1) It is widely used the worlwide industries in present era like in the field of Data Science, Data Analyst, ML Engineer, Gaming etc.
  2) It provides us one of the most huge collection of varieties of liabraries for doing codings for almost all kind of possible liabraries which are getting used today in any field for any purpose(s).
  3) Python have its own one of the largest community for platform which provides help to its users in every possible way if we get stuck in any step or line of code.
  4) It can be used for frontend, backend and web development types of works.
  5) It helps in bringing automation in many types of works like in the field of robotics, data processing or cleaning, creating Artificial Inteligence equipped softwares etc.
  6) It can be used for Image processing also
  7) Python, now a days, are also used for maintaing databases.
  8) Ease of learning as its code code language are easy to understand.
  9) It is versatile in nature as it can be helpful in every kinds of works researches, industries or even for in any kinds of purposes.

IndentationError: unexpected indent (<ipython-input-1-6b4c4cafd31f>, line 2)

#Q-2 Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

#Ans-2) Predefined Keywords holds a special meaning and specific purposes to perform. Few out of any predefined keywords are as given below along with their purposes to perform and their respective examples:
1) int: It stands for Integer & is used to assign integer values to the variable. For Eg: a=5
                  type(a)
*Ans wil be:*     int

2) strng: It is used to to string (character) values to the variable. Value assigned to the variable as string are always written under "" symbols only.
                 For eg: a="Shashank"
                         type(a)
*Ans will be:*           strng

3)float: It is used to provide decimal numerical values to the variable.
For Eg:             a=5.2
                    type(a)
*Ans will be:*      float            

4)bool: This keyword is used to get know the result in true or false format.
For eg:             a=2
                    b=5
                    a==b
*Ans will be:*     false    

There are many more types of predefined keywords also: false, none, class, continue, as, and , etc

In [ ]:
# Example of int
a=5
type(a)

int

In [ ]:
#Example of string
name="Shashank"
type(name)

str

In [ ]:
#Example of float keyword
value_1=1.5
type(value_1)

float

In [ ]:
#Example of Bool keyword
a=1
b=2
a==b

False

#Q-3 Compare and contrast mutable and immutable objects in Python with examples.

Ans-3) **Mutable Objects:** As the name includes the term **mutable**, which means holds the ability to change, add or delete the data of the assigned variables. Few mutable objects are: list, sets, dictionary, array etc.

Whereas, in its opposite, in **immutable objects**, values ones assigned to any variable in any data type format can never be get changed, added or removed later on. Few immutable objects are: tuples , string etc.

In [ ]:
#Examples of Mutable Objects: (1) list[]- It just holds the collection of elements beloging to all types data types variables and does not do the filtering of providing unique elements like set{} do.
list_values=[1,2,3.5,"Shashank","Nature",True]
list_values

[1, 2, 3.5, 'Shashank', 'Nature', True]

In [ ]:
#now we will do changes in the values of above by changing "Nature" element to "Environment" element.
list_values[4]="Environment"
list_values[5]=False
list_values

[1, 2, 3.5, 'Shashank', 'Environment', False]

In [ ]:
(2) # set{} : It removes the duplicate elements from the data and gives only unique elements in result, Henceforth, indexing is not possible in it.
set_values={1,2,13.5,True,False,True,"Shashank","Nature","Shashank"}
set_values

{1, 13.5, 2, False, 'Nature', 'Shashank'}

In [ ]:
#now we will do changes the values of above by adding one more element "Saturn"
set_values.add("Saturn")
set_values

{1, 13.5, 2, False, 'Nature', 'Saturn', 'Shashank'}

In [ ]:
#Examples of Immutable Objects: 1) tuples()
tuple_values=(1,2,3.5,"Shashank","Nature",True)
print(tuple_values[3])
tuple_values[3]="Moon"

Shashank

TypeError: 'tuple' object does not support item assignment

In [ ]:
2) # String()
string_values="Shashank"
string_values(0)="Shobhit"
string_values

SyntaxError: unmatched ')' (<ipython-input-13-7a7b4a40b0c5>, line 1)

Q-4) Discuss the different types of operators in Python and provide examples of how they are used.

**Ans-4)** Operators are the special keywords or symbols which are used to perform specific operations. The values on which these operators works are called "operand". There are various types of operators in Python. They are as follows:-

1.  **Logical Operator-** These are the operators which are used to join two or more relational expressions & return the result either true or false. These include the following operator:

*   **AND Operator-** This requires all the provided conditions to be true & if any condition out all the conditions results false, the whole result result will become 0 i.e false.            
*   **OR Operator-** This requires any out all the provided conditions to be true to result whole result as true. **OR Operator** only gives false results when none of the the conditions get fulfilled.
*   **NOT Operator-** This operator is required to give opposite results.


2.   **Assignment Operators-** These types of operators are used for assigning values to the variables. These are of following types:

*   Equals To Operator(=)
*   Add & Assign (+=)
*   Subtract & Assign (-=)
*   Multiply & Assign (*=)
*   Divide & Assign (/=)
*   Exponent Assigning Operator (**=)                                    
*   Modulus Operator(%=)

3.  **Conditional or Relational Operators-** These types of operators are used to perform comparision and result a boolean value either true or false. These are of following types
* Greater Than(>)
* Lesser Than (<)
* Greater Than or Equals to (>=)
* Lesser Than or Equals to (<=)
* Equals to (==)
* Not Equals to (!=)

4. **Arithematic Operators-** These types of operators are used to perform the arithematic operations and include the following:
* Addition Operator (+)
* Subtraction Operator (-)
* Multiply Operator (*)
* Division Operator (/)
* Modulus Operator (%): This modulus operator operator is used to know remainder of the two integer values.

5. **Membership Operator-** This type of operator confirms the presence of character or no. in the provided elements of a variable(s). It has two main types of operators:
*   **in Operator-** This operator give true result if the asked character or no. will be present in that variable's element(s).
*   **not in Operator-** This type of operator give true true result if the asked character or value will not be present in the elements of that variable.

6. **Identity Operator-** It confirns whether the value assigned to one variable is also matching the value of its comparing variable or not. If matches, it will result true or else will result false.

7) **Bitwise Operator-** It operates at bit level and manipulates individual bits within integer. It is of 3 types:
*  **AND Bitwise Operator-** All perform, it requires its all conditions to be true first.
*  **Negation Bitwise Operator-** This operator gives the next consecutive number of the entered value but with negative symbol(-).
*  **Bitwise XOR Operator-** It results true only if one of the condition should always be true. Even if all the condition get true, it will result false then also because it requires only & only one condition to be true and not more than that.

In [4]:
# Examples of all above mentioned operators and there types are given below:
#1) Logical Operators:
# 1.a) AND Operator
value= 10
value>5 and value<15

True

In [7]:
#1.b) OR Operator
value= 10
value>5 or value<15

True

In [9]:
#1.c) NOT Operator
a=12
b=12
not(a==b)

False

In [14]:
#2) Assignment Operators:
#2.a) Addition Operator
a1=132
a2=164
a1+=a2
a1

296

In [15]:
#2.b) Subtraction Operator
s1=184
s2=164
s1-=s2
s1

20

In [18]:
#2.c) Multiply Operator
multiply_1=10
multiply_2=19
multiply_1*=multiply_2
multiply_1

190

In [19]:
#2.d) Equals to (=) Operator
a=515
a

515

In [20]:
#2.e) Divide Operator
a=72
b=4
a/=b
a

18.0

In [21]:
#2.f) Modulus Operator
a=113
b=2
a%=b
a

1

In [24]:
#2.g) Exponental Operator
a=4
b=3
a**=b
a

64

In [25]:
#3) Conditional or Relational Operator
#3.a) Greater Than operator (>)
a=10
b=24
a>b

False

In [26]:
#3.b) Greater Than or Equals to (>=)
a=12
b=12
a>=b

True

In [27]:
#3.c) Lesser Than (<)
a=42
b=36
a<b

False

In [29]:
#3.d) Lesser Than or Equal To (<=)
a=42
b=65
a<=b

True

In [31]:
#3.e) Not Equals To (!=)
a=42
b=43
a!=b

True

In [32]:
#4) Arithematic Operator
#4.a) Addition Operator
a=42
b=34
a+b

76

In [33]:
#4.b) Subtraction Operator
a=36
b=42
a-b

-6

In [34]:
#4.c) Multiply Operator
a=12
b=15
a*b

180

In [35]:
#4.d) Division Operator
a=12
b=4
a/b

3.0

In [37]:
#4.e) Modulus Operator
a=99
b=4
a%b

3

In [38]:
#5) Membership Operator
#5.a) in Operator
name="Shashank"
"k" in name

True

In [39]:
#5.b) not in operator
name="Shashank"
"k" not in name

False

In [44]:
#6) Identity Operator
season= "cold"
wheather= "cold"
season is wheather

True

Q-5) Explain the concept of type casting in Python with examples

Ans-5) Types casting refers to the process of converting the data type of variale into another data type. It is also called data type conversion. It is of 2 types:
1) Implicit Data types= Whem we don't need to make our computer system to understand the data type of variable's assigned value as it does by its own, it is called implicit data types. Pyhton is an example of implicit type casting

2) Explicit data types- When we need to assign the values to its variables as the system is not capable to do this, it is called explicit data types.It is basically while doing conversion of type casting.

In [46]:
#1) int to float
a=2
float(a)

2.0

In [47]:
#2) float to int
a=2.5
int(a)

2

In [49]:
#3) int to string
a=23
str(a)

'23'

In [53]:
#4) string to int
a='45'
int(a)

45

In [55]:
#5) string to float
a='345'
float(a)

345.0

#Note: Only if numericals part is written in the form of string data types, they can be converted into int/float. If charactors are written in string forms they can never be converted into any numerical data types, neither into int nor in float or any other nuerical data type format

Q-6) How do conditional statements work in Python? Illustrate with examples

Ans-6) Conditional statements in python helps us to code decisions based on some predictions and required conditions. There are following types of conditional statements:
a) if statement
b) if-else statement
c) if elif else statement
d) nested if else statement

In [59]:
#1) if statement                   (It executes if the result of code of block is true)
if 10>5:
  print("10 is greater than 5")

10 is greater than 5

In [60]:
#2) if else statement               (If code of block 1st not results to True, it will automatically execute the second condition by default)
if 10<55:
  print("10 is not greater than 55")
else:
  print("10 is greater than 55")

10 is not greater than 55

In [67]:
#3) if elif else statement
Age=int(input("Enter your age: "))
if Age<=17:
  print("You are kid")
elif Age<=60:
  print(" You are working youth of India")
else:
  print("You are now a senior citizen of this country")

Enter your age: 25
 You are working youth of India

In [77]:
#Nested if else statement
Time=int(input(" Enter Hour time only in 24 Hrs format"))
if Time<12:
  print("Good Morning")
else:
  if Time<16:
   print("Good Afternoon")
  else:
   if Time<20:
      print("Good Evening")
   else:
      print("Good Night")

 Enter Hour time only in 24 Hrs format23
Good Night

Q-7) Describe the different types of loops in Python and their use cases with examples.

**Ans-7)** Loops statement allows us to execute a block of code repeatedly until and unless it fulfills the conditions to achieve or to fulfill the requirement for which it was executed for. There are basically 2 types of Loops:

**a)**   for loop

**b)**   while loop

In [89]:
#for loop statement
i=0
for i in range(0,19):
  i+=2
  print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [90]:
#while loop statement
count=5
while count>0:
  print(count)
  count-=1

5
4
3
2
1